# ========================
# Java / Gradle / Spring Boot
# ========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore jar gerado pelo Spring Boot
*.jar

# Logs e arquivos temporários
*.log
*.bak
*.tmp

# ========================
# IDEs
# ========================

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# Maven (caso use em paralelo)
/target/
